@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

html, body {
  height: 100%;
}

body {
  background-image: linear-gradient(137deg, #1a1e68, #9496b2 100%);
}

button {
  background-color: #676ef3;
  border-radius: 3px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 14px;
  line-height: 21px;
  padding: 12px 16px;
}

form {
  display: flex;
  justify-content: space-between;
}

input {
  background-color: #f0f3f4;
  border-radius: 3px;
  border: 1px solid #0775e2;
  color: #1f3e5c;
  font-size: 14px;
  line-height: 21px;
  margin-right: 8px;
  padding: 12px 16px;
  width: 100%;
}

input:focus {
  outline: none;
}

h1 {
  font-size: 27px;
  margin: 0 0 8px;
}

h2 {
  font-size: 21px;
  margin: 0 0 16px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 8px;
}

li a {
  background-color: white;
  border-radius: 4px;
  border: 1px solid #dcdee3;
  color: #676ef3;
  display: block;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 16px;
  text-decoration: none;
  box-shadow: 0 4px 8px -4px rgba(26, 26, 26, 0.2);
}

#root {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.container {
  background-image: url('assets/bcg@2x.png');
  background-repeat: no-repeat;
  background-size: 440px 540px;
  background-position: top center;
  border-radius: 3px;
  min-height: 500px;
  padding: 20px;
  position: relative;
  width: 400px;
}

.user-information {
  margin-top: 24px;
}

.user-details {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
}

.user-details__name {
  margin-left: 24px;
}

.loader {
  align-items: center;
  background: rgba(255, 255, 255, 0.7);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.spinner {
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}
